.nav.list{
    list-style: none;
    display: flex;
}

.nav.list.link{
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

.nav.list.link:hover{
    opacity: .75;
}

.nav.list.link:active{
    color: #ffffea90
}

.nav.list.link:visited{
    color: #ffffff40
}