.btn.signup{
    margin-left: 20px;
}

.btn.group{
    display: flex;
    justify-content: center;
}

.btn-link.signup, .btn-link.login{
    text-decoration: none;
    color:white;
}

.btn-link.login{
    color: #1976d2;
}

.btn.signup:hover, .btn.login:hover{
    background-color:#1976d270;
}

.btn.signup:active, .btn.login:active{
    background-color: #1976d299;
}

.landing.card{
    width: 80%;
    margin: 20px auto 0px;
    padding: 10px 10px 50px;
}

.landing.header{
    font-size: 28px;
    text-align: center;
}

